<!-- views/applications/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <%- include('../partials/_head', { title: 'Your Apps'})%>
  </head>
<body class="applications-page">
    <%- include('../partials/_navbar.ejs') %>

    <div class="all-apps-body">
      <div class="all-apps-header">
        <h1>Your Apps</h1>
        <a class="add-app-link" href="/users/<%=user._id%>/applications/new"
          >Add an App</a
        >
      </div>
      <ul>
        <% applications.forEach((application)=>{ %>
        <a href="/users/<%= user._id %>/applications/<%= application._id %>">
          <li><%= application.title %> at <%= application.company %></li>
        </a>
        <% }) %>
      </ul>
    </div>
</body>
</html>
